body {
  margin: 0;
}
.twocol {
  display: flex;
  height: 100vh;
}
.title {
  background-color: #00db8b;
  text-align: center;
}
.title h1 {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: sans-serif;
  color: white;
  text-shadow: -4px -4px 0px rgba(0, 0, 0, 0.2);
  height: 100%;
}
#rows_viewbox {
  width: 100%;
  flex-grow: 1;
  overflow: auto;
}
.rows {
  width: max-content;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
}
.row {
  padding: 0;
  margin: 3rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: min-content;
}
.block {
  background-color: white;
  box-shadow: -0.5rem 0.5rem 0 0 rgba(0, 66, 42, 0.2);
  border: 4px solid #00754b;
  font-family: sans-serif;
  text-align: center;
  padding: 0.5rem;
  margin: 0 0.75rem;
  color: #00754b;
}
.block h1 {
  font-size: 1.5rem;
  margin: 1rem;
}
.block h2 {
  font-size: 1rem;
  margin: 0;
}
.block.unconfirmed {
  color: #a8003d;
  border-color: #a8003d;
}
.block.attempt {
  background-color: cyan;
}
.block.recent {
  color: blue;
  border-color: blue;
}
.block.tall {
  background-color: #ccffcc;
}
#svg_sizer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
